// Custom styles.
.post {
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 14px rgba(202,203,203,0.5);
  -moz-box-shadow: 0 0 14px rgba(202,203,204,0.5);
}
.post-footer{
	display:none;
}
.posts-expand .post-title,
.posts-expand .post-meta {
  text-align: left;
}
.posts-expand .post-meta {
  /* margin-top: 5px; */
  margin-bottom: 20px;
}
.posts-expand .post-title {
  font-size: 26px;
  word-break: break-word;
  font-weight: 400;
}
.page-post-detail .post-title,
.page-post-detail .post-meta {
  text-align: center;
}
.page-post-detail .post-title,
.page-post-detail .post-meta {
  text-align: center;
}
.sidebar-toggle {
  border-radius: 2px;
  background: #757575;
}
.back-to-top {
  border-radius: 2px;
  background: #757575;
}
.post-button{
	display:none;
}
.header {
  background: url("https://blog-20190524.oss-cn-hangzhou.aliyuncs.com/images/header-bg.jpg");
}
.header-inner {
  padding: 25px 0 20px;
}
.brand {
  background: transparent;
}
.menu .menu-item a {
  border-bottom-color: transparent !important;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  padding: 0px 12px;
  background: none;
  /* border: none; */
  transition-property: background;
  display: block;
  line-height: inherit;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.menu .menu-item a:hover {
  transition-duration: 0.3s;
  background: rgba(255,253,192,0.3);
  border-bottom-color: #777;
  color: #fff;
}
@media (max-width: 767px) {
  .menu {
    margin-top: 20px;
  }
  .menu .menu-item a {
    padding: 4px 10px;
    color: #0f2e41;
  }
  .menu .menu-item a:hover {
    background: #ddd;
  }
  .site-nav {
    background: rgba(255,255,255,0.9);
  }
}
.archive {
  padding-top: 40px;
}
@media (max-width: 767px) {
  .site-nav {
    top: 80px;
  }
}
