// Custom styles.
p{
  font-size: 15px;
}
.posts-expand .post-meta {
  margin-bottom: 20px;
}
.post-button{
  display:none;
}
.post {
  margin-bottom: 50px;
}
.post-eof {
  display: none;
}
.posts-expand{
  padding-top: 0px; 
}
.posts-expand .post-title,
.posts-expand .post-meta {
  text-align: left;
}
.post-title-link{
  font-weight: 600;
}
.page-post-detail .post-title,
.page-post-detail .post-meta {
  text-align: center;

}
.page-post-detail .post-title{
  font-weight: 600;
}
.utterances {
  max-width: none;
}