// Custom styles.

.post-body {
  font-family: $font-family-posts;
  word-wrap();
  font-size: $font-size-posts;
  // +desktop-large() {
  //   font-size: $font-size-posts;
  // }
}

.posts-expand .post-title {
  font-size: $font-size-larger;
  font-weight: 600;
  text-align: center;
}

p {
  margin: 0 0 10px 0;
}

.content.index.posts-expand .post-meta {
  margin-bottom: 20px;
}
.post-button{
  display:none;
}
.post-eof {
  margin: 40px auto 40px;
}
.posts-expand{
  padding-top: 0px; 
}
.content.index.posts-expand .post-title,
.content.index.posts-expand .post-meta {
  text-align: left;
}

.content.post.posts-expand .post-title,
.content.post.posts-expand .post-meta {
  text-align: center;
}

.post-body .image-caption,
.post-body .figure .caption {
  margin: -10px auto 15px;
}

.utterances {
  max-width: none;
}